<p><strong>Tags</strong></p>
<ul role="list">
  {% for item in collections.label %}
  <li>
    <a href="/notes/tag/{{ item.fileSlug }}" aria-current="{{ 'page' if label == item }}">
      #{{ item.data.title }}
    </a>
  </li>
  {% endfor %}
</ul>
