<p><strong>Tags</strong></p>
<ul role="list">
  {% for item in collections.label | sortByTitle %}
  {% set labelNotes = collections['label:' + item.fileSlug] or [] %}
  {% if labelNotes.length > 0 %}
  <li>
    <a href="/notes/tag/{{ item.fileSlug }}" aria-current="{{ 'page' if label == item }}">
      #{{ item.data.title }}
      <sup>{{ labelNotes.length }}</sup>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
