---
layout: html.njk
---

<header>
  <a href="/">{{ site.title }}</a>
  /
  films
</header>

<!-- Inspired by https://letterboxd.com/robb_j/films/diary/ -->

<main class="filmDiary">
  <center-layout>
    <stack-layout space="s3">
      <header>
        <h1>Some films I've watched</h1>
        <p>In reverse-chronological order ... of course</p>
      </header>
      
      {% for month in collections.film | groupByMonth %}
      <section class="flow">
        <h2>{{ month.date | monthAndYear }}</h2>
        <div class="filmGrid">
          {% for item in month.collection %}
          <div class="filmGrid-date">
            {{ item.page.date | dateOfMonth }}
            <sup>{{ item.page.date | dateOrdinal }}</sup>
          </div>
          <div class="filmGrid-image">
            <a href="{{ item.page.url }}">
              <frame-layout ratio="6:9">
                {% media_image collections.media | findBySlug(item.data.media[0]), 60 %}
              </frame-layout>
            </a>
          </div>
          <div class="filmGrid-title">
            <a href="{{ item.page.url }}">
              {{ item.data.title }} →
            </a>
          </div>
          {% endfor %}
        </div>
      </section>
      <p></p>
      {% endfor %}
    </stack-layout>
  </center-layout>
</main>
