---
layout: html.njk
---

<header>
  {{ site.title }}
</header>

<main>
  <center-layout>
    <div class="flow">
      <p>Welcome to my digital garden</p>
      <ul>
        <li>
          <a href="/films/">Films</a> ⸻ I like watching films and jotting down my thoughts
        </li>
        <li>
          <a href="/notes/">Notes</a> ⸻ Sometimes I write notes of (un)important things
        </li>
        <li>
          <a href="/tunes/">Tunes</a> ⸻ Some tunes I've enjoyed listening to
        </li>
        <li>
          <a href="/photos/">Photos</a> ⸻ My favourite photos I've taken
        </li>
        <li>
          <a href="/adventures/">Adventures</a> ⸻ Trips I've taken that were worth documenting (WIP)
        </li>
      </ul>
      
      <h2>How it works</h2>
      <p>I post things to several places and this site pulls all those things together and adds a bit of curation.</p>
    </div>
  </center-layout>
</main>
