---
layout: html.njk
---

<header>
  {{ site.title }}
</header>

<main>
  <center-layout>
    <div class="flow">
      <p>Welcome to my digital garden</p>
      <ul>
        <li>
          <a href="/films/">Films</a> ⸻ I like watching films and jotting down my notes
        </li>
        <li>
          <a href="/notes/">Notes</a> ⸻ Sometimes I write notes of important things
        </li>
        <li>
          <a href="/tunes/">Tunes</a> ⸻ Some tunes I've enjoyed listening to
        </li>
        <li>
          <a href="/photos/">Photos</a> ⸻ My favourite photos I've taken and want to share
        </li>
        <li>
          <a href="/adventures/">Adventures</a> ⸻ Trips I've taken that were worth documenting
        </li>
      </ul>
      
      <h2>How it works</h2>
      <p>I post things to several social platforms and I pull the most important things onto this website for it to be curated together.</p>
    </div>
  </center-layout>
</main>
