---
layout: html.njk
pagination:
  data: collections.label
  size: 1
  alias: label
permalink: "/notes/tag/{{ label.fileSlug }}/"
---

{% set title = label.data.title or label.fileSlug %}

{% set notes = collections['label:' + label.fileSlug] or [] %}

<header>
  <a href="/">{{ site.title }}</a>
  /
  <a href="/notes/">notes</a>
  /
  {{ title }}
</header>

<main>
  <sidebar-layout>
  <nav>
    <nav>
      {% include 'note-label-nav.njk' %}
    </nav>
  </nav>
  <div>
    <center-layout>
      <stack-layout>
        <header class="flow">
          <h1>my notes on ... {{ title }}</h1>
        </header>
        
        <!-- TODO: merge this with the logic from "notes.njk" -->
        {% for month in notes | groupByMonth %}
        {% include 'month-notes.njk' %}
        {% endfor %}
      </stack-layout>
    </center-layout>
  </div>
</main>
