---
layout: html.njk
---

<header>
  <a href="/">{{ site.title }}</a>
  /
  notes
</header>

<main>
  <sidebar-layout>
    <nav>
      {% include 'note-label-nav.njk' %}
    </nav>
    <div>
      <center-layout>
        <stack-layout>
          <header class="flow">
            <h1>my notes on ... things</h1>
          </header>
          
          {% for month in collections.note | groupByMonth %}
          <section class="flow">
            <h2>{{ month.date | monthAndYear }}</h2>
            <ul>
              {% for note in month.collection %}
              {% set labels = collections.label | tagsToLabels(note.data.tags) %}
              <li>
                <a href="{{ note.url }}">
                  {{ note | pickTitle }}
                  {% for label in labels %}
                  #{{ label.fileSlug }}
                  {% endfor %}
                  →
                </a>
              </li>
              {% endfor %}
            </ul>
          </section>
          {% endfor %}
          
        </stack-layout>
      </center-layout>
    </div>
  </sidebar-layout>
</main>
