---
layout: html.njk
---

<header>
  <a href="/">{{ site.title }}</a>
  /
  tunes
</header>

<main>
  <center-layout>
    <stack-layout space="s3">
      <header>
        <h1>tunes i like</h1>
        <p>certified bangers</p>
      </header>
      
      
      {% for month in collections.tune | groupByMonth %}
      <section class="flow">
        <h2>{{ month.date | monthAndYear }}</h2>
        
        <stack-layout>
          {% for item in month.collection %}
          <details class="tune" data-tune="{{ item.page.fileSlug }}">
            <summary>
              {% media_image collections.media | findBySlug(item.data.media[0]), 120 %}
              <div class="tune-info">
                <p class="tune-title">{{ item.data.title }}</p>
                <p class="tune-description">{{ item.data.description }}</p>
              </div>
            </summary>
            {{ item.content | safe }}
            <cluster-layout>
            <a href="{{ item.data.url }}">
              Open
            </a>
            {% if item.data.refs | mastodonStatusLink %}
            <a href="{{ item.data.refs | mastodonStatusLink }}">
              Mastodon
            </a>
            {% endif %}
            </cluster-layout>
          </details>
          {% endfor %}
        </stack-layout>
      </section>
      {% endfor %}
    </stack-layout>
  </center-layout>
</main>
