---
layout: html.njk
---
<header>
  <a href="/">{{ site.title }}</a>
  /
  <a href="/films/">films</a>
  /
  {{ title }}
</header>

<!-- TODO: make sure these are ordered correctly -->

<main class="film">
  <center-layout>
    <stack-layout>
      <sidebar-layout>
        <div>
          {% media_element collections.media | findBySlug(media[0]), 200 %}
        </div>
        <dl>
          <dt>when</dt>
          <dd>{{ date | longDate }}</dd>
          <dt>film</dt>
          <dd>
            <a href="{{ url }}">{{ title }}</a>
          </dd>
          {% if refs | mastodonStatusLink %}
          <dt>source</dt>
          <dd>
            <a href="{{ refs | mastodonStatusLink }}">Mastodon</a>
          </dd>
          {% endif %}
          <details class="blurb">
            <summary>
              <dt>blurb</dt>
            </summary>
            <dd>
              {{ blurb }}
            </dd>
          </details>
        </dl>
      </sidebar-layout>
      
      {% if content %}
      <div class="flow">
        <h2>thoughts</h2>
        {{ content | safe }}
      </div>
      {% endif %}
    </stack-layout>
  </center-layout>
</main>
