---
layout: html.njk
---
<header>
  <a href="/">{{ site.title }}</a>
  /
  <a href="/notes/">notes</a>
  /
  {{ title or 'note' }}
</header>

<main class="note">
  <sidebar-layout sidewidth="20ch">
    <nav>
      <details-utils force-close="(max-width: 767px)" and force-open="(min-width: 768px)">
        <details class="noteLabelNav">
          <summary>Tags</summary>
          <ul role="list">
            {% for label in collections.label | sortByTitle %}
            {% set labelNotes = collections['label:' + label.fileSlug] or [] %}
            {% if labelNotes.length > 0 %}
            {% set isActive = label | isActiveLabel(tags, page) %}
            <li>
              <a
                href="/notes/tag/{{ label.fileSlug }}"
                aria-current="{{ 'page' if isActive else 'false' }}"
              >
                #{{ label.data.title }}
                <sup>{{ labelNotes.length }}</sup>
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </details>
      </details-utils>
    </nav>
    <div>
      <center-layout>
        <stack-layout>
          <header>
            <h1>{{ title or 'Note' }}</h1>
            <cluster-layout>
              {% for label in collections.label | tagsToLabels(tags) %}
              <!-- <a href="/notes/tag/{{ label.fileSlug }}">#{{ label.data.title }}</a> -->
              {% endfor %}
            </cluster-layout>
          </header>

          <article class="flow">
            {{ content | safe }}
          </article>
          
          {% if not override.media %}
          {% for slug in media %}
          {% set m = collections.media | findBySlug(slug) %}
          <figure>
            {% media_element m, 500 %}
            <!--  -->
            <figcaption>{{ m.content | safe }}</figcaption>
          </figure>
          {% endfor %}
          {% endif %}

          {% if refs.external and not override.external %}
          <div class="pulled">
            {% if refs.external and refs.external.length == 1 %}
            <a href="{{ refs.external[0] }}">{{ refs.external[0] }}</a>
            {% else %}
            <ul>
              {% for url in refs.external %}
              <li><a href="{{ url }}">{{ url }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          {% endif %}
          
          <details class="metadata">
            <summary>metadata</summary>
            <a href="https://github.com/robb-j/r0b-garden/blob/main/content/notes/{{ page.fileSlug }}.md">Open on GiHub</a>
            <pre>{{ refs | dump(2) }}</pre>
          </details>

        </stack-layout>
      </center-layout>
    </div>
  </sidebar-layout>
</main>
