---
layout: html.njk
---

<header>
  <a href="/">{{ site.title }}</a>
  /
  <a href="/photos/">photos</a>
  /
  {{ title or 'photo' }}
</header>

<main class="photo">
  <header class="flow">
    {{ content | safe }}
    <p class="photoMeta">
      {{ date | longDate }}
      {% if refs | mastodonStatusLink %}
      —
      <a href="{{ refs | mastodonStatusLink }}">
        Mastodon
      </a>
      {% endif %}
    </p>
  </header>

  {% if media.length == 1 %}
  <center-layout gutters="s0">
    {% set media = collections.media | findBySlug(media[0]) %}
    <figure id="photo-{{ slug }}">
      {% media_image media, 500 %}
      <figcaption>{{ media.content | safe }}</figcaption>
    </figure>
  </center-layout>
  {% else %}
  <masonry-layout>
    {% for slug in media %}
    {% set media = collections.media | findBySlug(slug) %}
    <figure id="photo-{{ slug }}">
      {% media_image media, 500 %}
      <figcaption>{{ media.content | safe }}</figcaption>
    </figure>
    {% endfor %}
  </masonry-layout>
  {% endif %}
</main>
