@import './dracula.css';

:root {
  --unimportant: #888;
  --anchor: #498e5a;
}
@media (prefers-color-scheme: dark) {
  :root {
    --unimportant: #999;
    --anchor: #66c07c;
  }
}

/* NOTE: not in current version of labcoat */
dl:not([class]) dt {
  font-weight: 600;
  font-style: italic;
}
dl:not([class]) dd {
  margin-inline-start: 2ch;
}
dl:not([class]) > dd + dt {
  margin-top: var(--s-1);
}

/* === */

.tune {
  margin: calc(-1 * var(--s1));
  padding: var(--s1);
}
.tune summary {
  display: flex;
  gap: var(--s-1);
  list-style: none;
}
.tune summary::marker {
  display: none;
}
.tune summary img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-radius: var(--s-4);
}
.tune-info {
  align-self: center;
}

.tune-title {
  font-weight: bold;
  align-self: flex-end;
}
.tune-description {
  font-style: italic;
}
.tune[open] {
  background: var(--highlight);
  border-radius: var(--s0);
}

/* === */
.photos {
  padding-inline: 0;
}
.photos header {
  margin-bottom: var(--s1);
}

.photo {
  padding-inline: 0;
  padding-block-start: 0;
}
.photo header {
  /* margin-bottom: var(--s1); */
  /* text-align: center; */
  padding: 0 var(--s0) var(--s0) var(--s0);
}
.photo figcaption {
  margin-inline: var(--s-2);
  margin-block-end: var(--s0);
}
.photoMeta {
  font-style: italic;
}
.photo figure > img {
  width: 100%;
}

figure {
  text-align: center;
}

figure > img {
  margin: auto;
  height: auto;
}

figure > video {
  max-width: 100%;
  height: auto;
}

summary dt {
  display: inline-block;
}

a[aria-current='page'] {
  /* font-weight: 600; */
  text-decoration: none;
  /* color: #888; */

  background: var(--highlight);
  border: 1px solid var(--border);
  padding: 0.1em;
  margin: -0.1em;

  /* outline: 2px solid red; */
}

/* custom layout ? */
masonry-layout {
  display: block;
  columns: 50ch auto;
  column-gap: var(--s-3);
  margin-inline: auto;
}
masonry-layout > * {
  break-inside: avoid;
  max-width: 48em;
}

.filmGrid {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: var(--s-1);
  align-items: center;
}
.filmGrid-image {
  max-width: 100px;
}

.pulled {
  padding: var(--s1);
  background: var(--highlight);
  border-left: var(--s-3) dashed var(--anchor);
}

a {
  word-break: break-all;
}

a:not([class]) {
  color: var(--anchor);
}

hr {
  border: none;
  border-bottom: var(--s-4) dashed var(--border);
  margin-block: var(--s2);
  --flow: var(--s2);
}

pre {
  font-size: 14px;
}

body > header {
  background: #5cb171;
  color: #edfcf1;
  position: relative;
  margin-bottom: 15px;
}
body > header::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  border-right: 90vw solid transparent;
  border-top: 10px solid #5db171;
  border-left: 10vw solid transparent;
}

/* TODO: migrate back to alembic */
frame-layout > picture {
  inline-size: 100%;
  block-size: 100%;
}
frame-layout > picture > img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

header a:not([class]),
nav a:not([class]) {
  color: currentColor;
}

.related {
  color: var(--unimportant);
  padding: var(--s-3) var(--s-1);
  background: var(--highlight);
  border-radius: var(--s-2);
  text-decoration-style: dashed;
}

.metadata summary {
  font-style: italic;
  color: var(--unimportant);
}
