name: mastodon

on:
  schedule:
    - cron: "50 22 * * *"
  workflow_dispatch:

jobs:
  mastodon:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - run: npm ci

      - run: node ./tools/cli.js mastodon
        env:
          MASTODON_TOKEN: ${{ secrets.MASTODON_TOKEN }}
          S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
          S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
          S3_ENDPOINT: ams3.digitaloceanspaces.com
          S3_BUCKET: r0b-media
          S3_CDN_URL: https://media.r0b.io

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Automated Change
          file_pattern: content
